<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
   <head>
    <meta charset="UTF-8" />

     <link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
     <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

     <title>
      オムの木
     </title>
   </head>
   <body>
    <header th:insert="fragments/page_header::pageHeader"></header>
    <main>
     <div class="container history">
     <div>
      <h2>購入履歴</h2>
     </div>
     <div class="noData hidden">
      <p class="info">購入履歴はありません。</p>
     </div>
     <table class="history">
      <tr>
       <th>購入日時</th><th>商品名</th><th>価格(円)</th><th>個数</th><th>宛名</th><th>宛先住所</th>
      </tr>
       <tr  th:each="history: ${historyList}">
       <td th:text="${history.purchasedAt}"/>
       <td th:text="${history.productName}"/>
       <td th:text="${history.price}"/>
       <td th:text="${history.productCount}"/>
       <td><span  th:text ="${history.familyName} + ' ' + ${history.firstName}"></span></td>
       <td th:text="${history.address}" class="address" />
      </tr>
     </table>
     <div class="buttonArea">
      <button id="deleteBtn">削除</button>
     </div>
    </main>
      
    <script th:inline="javascript">
     document.addEventListener("DOMContentLoaded", event=> {
      isExistsHistoryList(false);
       document.getElementById("deleteBtn").addEventListener("click", () => {
        deleteHistory();
     });
       });
     function isExistsHistoryList(deleted) {
      let historyListSize =  /*[[${historyList.size()}]]*/0;
      if (historyListSize == 0 || deleted) {
       document.querySelector(".noData").classList.remove("hidden");
       const table = document.querySelector("table.history");
       while(table.lastChild){
        table.removeChild(table.lastChild);
       }
       const btn = document.querySelector(".buttonArea");
       while(btn.lastChild){
          btn.removeChild(btn.lastChild);
       }
      }
     }

    function deleteHistory() {
     fetch("/quest/history/delete", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
     })
     .then(response =>  response.text())
     .then(result => {
      isExistsHistoryList(true);  
     })
     .catch(error => {
      console.error("Error: ", error);
     });
    }  
    </script>
   </body>
  </html>